@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Store</title>
    <link rel="stylesheet" href="~/css/admindes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    
    <body>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                <span class="close-btn">&times;</span>
                @TempData["SuccessMessage"]
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                <span class="close-btn">&times;</span>
                @TempData["ErrorMessage"]
            </div>
        }
        <div class="admin-panel">
            <header>
                <h1>Admin Panel</h1>
                <div class="back-icon" onclick="handleBackClick()">
                    <img src="~/images/back-icon.png" alt="Back">
                </div>
                <div class="logout-icon" onclick="logout()">
                    <img src="~/images/logout-icon.png" alt="Logout">
                </div>
            </header>
            <nav>
                <button class="nav-button" onclick="redirectTo('@Url.Action("AccountsForm", "Admin")')">Accounts</button>
                <button class="nav-button" onclick="redirectTo('@Url.Action("OrdersForm", "Admin")')">Added to Cart</button>
                <button class="nav-button" onclick="redirectTo('@Url.Action("PlacedForm", "Admin")')">Placed Order</button>
                <button class="nav-button" onclick="redirectTo('@Url.Action("ProductOrderedForm", "Admin")')">Ordered Products</button>
                <button class="nav-button" onclick="redirectTo('@Url.Action("ProductForm", "Admin")')">Products</button>

            </nav>
        </div>
        <script>
            function redirectTo(url) {
                window.location.href = url;
            }
            function logout() {
                // Perform logout operation
                // Redirect to logout action
                window.location.href = '@Url.Action("Index", "Home")';
            }

            function handleBackClick() {
                // Perform logout operation
                logout();

                // Redirect to another form
                window.location.href = '@Url.Action("Index", "Home")';
            }
        </script>
    </body>
</body>
</html>
