@model List<PlacedOrder>

@{
    ViewBag.Title = "Orders";
}
@* <link rel="stylesheet" href="~/css/admindes.css"> *@
<header>
    <h2>ADMIN PANEL ||| Orders</h2>
    <div class="logout-icon">
        <img src="~/images/back-icon.png" alt="Logout">
    </div>
</header>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order No.</th>
                <th>Total Price</th>
                <th>Customer Username</th>
                <th>Date Order Placed</th>
                <th>Shipping Name</th>
                <th>Payment Method</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var po in Model)
            {
                <tr>
                    <td>@po.PlacedId</td>
                    <td>@po.TotalPrice</td>
                    <td>@po.UN</td>
                    <td>@po.DatePlaced</td>
                    <td>@po.Shipping</td>
                    <td>@po.PayMethod</td>
                    <td>
                        <form method="post" action="@Url.Action("DeleteOrder", "Admin", new { id = po.PlacedId})" onsubmit="return confirm('Sure ka na e delete na nimo ni?');">
                            <button type="submit" class="btn btn-danger">DELETE</button>
                        </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<style>
    .container .table .product-image {
        max-width: 80px; /* Adjust the maximum width as needed */
        max-height: 50px; /* Adjust the maximum height as needed */
        width: auto; /* Maintain aspect ratio */
        height: auto; /* Maintain aspect ratio */
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

        header .logout-icon {
            position: absolute;
            top: 0;
            right: 10px; /* Adjust as needed */
        }

            header .logout-icon img {
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector(".logout-icon").addEventListener("click", function () {
            // Perform logout action or redirect to another page
            // For example, redirecting to a logout endpoint
            window.location.href = "/Admin/AdminForm"; // Replace with your logout URL
        });
    });
</script>

