@model IEnumerable<WebProjElective.Models.Product>

@{
    ViewBag.Title = "Products";
}
@* <link rel="stylesheet" href="~/css/admindes.css"> *@

<h2>ADMIN PANEL ||| Products</h2>
<a href="@Url.Action("CreateForm", "Product")" class="btn btn-primary">Add Product</a>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
                <th>Available Items</th>
                <th>Date Uploaded</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.ProductName</td>
                    <td>@product.ProductPrice</td>
                    <td>@product.ProductDescription</td>
                    <td>
                        @if (product.ProductImage != null)
                        {
                            <img src="data:image;base64,@(Convert.ToBase64String(product.ProductImage))" class="product-image" />
                        }
                    </td>
                    <td>@product.ProductAvailableItems</td>
                    <td>@product.ProductDateUpload.ToShortDateString()</td>
                    <td>
                        <form method="get" action="@Url.Action("UpdateEnrollmentForm", "Product", new { id = product.ProductId})">
                            <button type="submit" class="btn btn-primary">UPDATE</button>
                        </form>
                        <form method="post" action="@Url.Action("DeleteStudent", "Product", new { id = product.ProductId})" onsubmit="return confirm('Sure ka na e delete na nimo ni?');">
                            <button type="submit" class="btn btn-danger">DELETE</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<style>
    .container .table .product-image {
        max-width: 80px; /* Adjust the maximum width as needed */
        max-height: 50px; /* Adjust the maximum height as needed */
        width: auto; /* Maintain aspect ratio */
        height: auto; /* Maintain aspect ratio */
    }
</style>